{
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"dts": true
		},
		"loose": true,
		"minify": {
			"mangle": true
		}
	},
	"module": {
		"type": "umd",
		"noInterop": false
	},
	"minify": true
}
